@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Backgrounds */
  --logichub-primary-bg: #060a13;        /* main page background */
  --logichub-secondary-bg: #0b111b;      /* cards / overlays */
  --logichub-card-bg: #141b2733;         /* translucent card bg */
  --logichub-footer-bg: #070b12;         /* footer background */

  /* Texts */
  --logichub-primary-text: #ffffff;      /* main text */
  --logichub-secondary-text: #cbd5e1;    /* headings / labels */
  --logichub-muted-text: #94a3b8;        /* paragraph / muted text */
  --logichub-footer-text: #64748b;       /* footer text */

  /* Borders / Rings */
  --logichub-border: #33415580;          /* borders */
  --logichub-ring: #334155;              /* focus / ring */

  /* Accent colors */
  --logichub-btn: #e2e2e2;            /* highlights / buttons */
  --logichub-btn-text: #262628; 
  --logichub-btn-hover: #bcd3f5; 

  
  /* text on accent bg */
  --logichub-accent: #0085e5;            /* highlights / buttons */
  --logichub-accent-text: #1f2937;       /* text on accent bg */
}


*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


